<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" co5ntent="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThPerguntas</title>
</head>
<body>
    <h1>ThPerguntas HomePage</h1>
    <hr>
    <h3>Bem vindo ao meu Site</h3>
    <!-- exibindo valores de variaveis passadas  do js-->
    <p>Nome: <%= nome %> </p>
    <p>Linguagem favorita: <%= lang %></p>
    <p>Empresa: <%= empresa %></p>
    <p>Ano de nascimento: <%= nascimento %></p>
    
    <% if(msg){ %>
        <h3>Isso é uma mensagem de erro!</h3>
    <% }else{ %>
        <h3>Nenhum erro</h3>
    <% } %>   

    <%
        produtos.forEach(function(produto){
    %>  
        <hr>
        <h1>Produto: <%=produto.nome%></h1>
        <h3>Preço: <%=produto.preco%></h3>
    <%
        })
    %>
</body>
</html>